/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #06365f;
}

.container {
    width: 80%;
    margin: auto;
    overflow: auto;
    padding-top: 100px;
}

html {
    width: 100%;
    box-sizing: border-box;
}

section.img-phones {
    float: left;
    width: 33%;
}

section.heading {
    float: left;
    position: relative;
    margin: 20px 0;
    width: 100%;
    display: inline-block;
}

.log-in {
    position: absolute;
    right: 0;
    width: 120px;
    height: 50px;
    top: 19%;
    /* display: inline; */
    background: cadetblue;
    border: 2px solid blue;
    color: white;
}

div.log-in > p {
    position: absolute;
    float: left;
    margin: 0;
    left: 40px;
    width: 50px;
    line-height: 50px;
    padding-left: 10px;
}

div.log-in > img {
    float: left;
    position: absolute;
    top: 12px;
    left: 10px;
}

section.main-content {
    float: left;
    /* width: 100%; */
    padding: 20px;
    background-color: white;
    /* overflow: auto; */
}

section.nav-bottom {
    clear: both;
}

section.img-phones > img {
    width: 100%;
}

.right-side {
    padding-left: 40px;
    overflow: auto;
}

.title {
    font-size: 1.8em;
    width: 60%;
    color: navy;
    font-weight: 500;
    /* position: absolute; */
    top: 25%;
}
