/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  /* background-color: #06365f; */
}

.container {
    width: 80%;
    margin: 20%;
    overflow: auto;
}

html {
    width: 100%;
    box-sizing: border-box;
}

section.img-phones {
    float: left;
}

section.heading {
    float: left;
    position: relative;
    padding: 20px;
    padding-right: 100px;
}

.log-in {
    position: absolute;
    right: 0;
    top: 38%;
    /* display: inline; */
}

div.log-in > p {
    position: absolute;
    float: left;
    margin: 0;
    left: 40px;
    width: 50px;
}

div.log-in > img {float: left;}
